.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.input-form{
  margin: 0 auto;
  width: 25em;
}

label {
  display: block;
  font-size: 1.25em;
  text-align: left;
  margin-bottom: 10px;
}

input {
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin-left: 10px;
}